* {
    margin: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    background-color: #00A8FF;
}

header {
    padding-top: 30px;
}

main {
    padding: 10px;
}

footer {
    padding: 10px;
}